@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Nunito&family=Titillium+Web&display=swap');

body, .app{
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(25,20,20);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #22577A;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color:#80ED99;
}
